
      * {
        margin: 0;
        padding: 0;
        font-family: "Catamaran", sans-serif;
      }

      :root {
        --white: #fff;
        --bg: #f2f2f2;
        --gray: #2d2d2d;
        --black: #212121;
        --orange: #f35f2a;
      }

      html {
        scroll-behavior: smooth;
      }

      body {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        background-color: var(--bg);
      }

      .container {
        max-width: 1100px;
        width: calc(100% - 40px);
        padding: 0 20px;
        margin: 0 auto;
      }

      header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px 0;
        z-index: 99;
        background-color: var(--gray);
      }

      header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      header a#logo {
        float: left;
        font-family: "Dancing Script", cursive;
        font-size: 35px;
        color: var(--white);
        text-decoration: none;
      }

      header a#logo svg {
        display: inline-block;
        vertical-align: bottom;
        width: 50px;
        height: 50px;
        margin-right: 8px;
      }

      header a#menu {
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 50;
      }

      header a#menu svg {
        width: 30px;
        height: 30px;
      }

      header nav {
        position: absolute;
        z-index: 40;
        right: -50px;
        top: -50px;
        padding: 0;
        background-color: var(--orange);
        width: 0;
        height: 0;
        overflow: hidden;
        border-radius: 100%;
        transition: 0.3s all ease-out;
        transition-delay: 0.8s;
      }

      header nav::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 100%;
        background-color: var(--gray);
        transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: translate(0%, 0%) rotate(0deg);
        transition-delay: 0.5s;
      }

      header nav ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
      }

      header nav ul li {
        opacity: 0;
        transform: translateX(100%);
        transition: 0.2s all ease-in-out;
      }

      header nav ul li:nth-child(1) {
        transition-delay: 0.2s;
      }

      header nav ul li:nth-child(2) {
        transition-delay: 0.3s;
      }

      header nav ul li:nth-child(3) {
        transition-delay: 0.4s;
      }

      header nav ul li:nth-child(4) {
        transition-delay: 0.5s;
      }

      header nav.active {
        width: 100px;
        height: 150px;
        overflow: visible;
        padding: 90px 120px;
        transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-delay: 0s;
      }

      header nav.active::before {
        transform: translate(5%, -3%) rotate(10deg);
        transition-delay: 0.2s;
      }

      header nav.active ul li {
        opacity: 1;
        transform: translateX(0%);
      }

      header nav a {
        font-weight: bold;
        text-decoration: none;
        color: var(--white);
        font-size: 15px;
        transition: 0.3s linear all;
      }

      header nav a:hover,
      header nav a.active {
        color: var(--orange);
      }
